.header {
    background: #FFFFFF;
    /* background-color: aqua; */
    padding: 1%;
}

.logo {
    margin-left: 2%;
}

.add_item {
    color: white;
    background: #2DCA73;
    border: none;
    border-radius: 4px;
    min-width: 15vh;
    min-height: 4vh;
}

.circleDP {
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    /* background: red; */
    /* background-image: url('../image/header/user.png'); */
    /* margin-top: -2%; */
}

